<ion-view ng-controller="PoolCtrl" view-title="Pool Room">
	<ion-content>
		<ion-item>
			<ion-item class="pool-container">
				<div class="row">
					<div class="col">
						<img class="" src="img/badges/adventurer.png">
					</div>
					<div class="col">
						<img src="img/badges/entourage.png">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<img src="img/badges/explorer.png">
					</div>
					<div class="col">
						<img src="img/badges/movie.png">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<img src="img/badges/newbie.png">
					</div>
					<div class="col">
						<img src="img/badges/overshare.png">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<img src="img/badges/photogenic.png">
					</div>
					<div class="col">
						<img src="img/badges/porky.png">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<img src="img/badges/supermayor.png">
					</div>
					<div class="col">
						<img src="img/badges/animalhouse.png">
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col">
						<h3>INFO</h3>
					</div>
				</div>
			</ion-item>
		</ion-item>
	</ion-content>
</ion-view>